table {
  border-collapse: collapse;
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.example-full-width {
  width: 100%;
}
// th{
//     text-transform: uppercase;
//     color: black;
// }
// td{
//     text-transform: capitalize;
// }

// td, th {
//   border: 1px solid #f3f3f3;
//   text-align: left;
//   padding: 8px;
// }

// tr:nth-child(even) {
//   background-color: #f3f3f3;
// }

// button{
//   flex: auto;
// }