  <!--<div class="wrapper">-->
     
    <!--
    <app-button></app-button>
    <app-mat-card></app-mat-card>
    <app-tabs></app-tabs>
    <app-contact-card></app-contact-card>
    <app-form-control></app-form-control>
    <app-mat-dialog-example></app-mat-dialog-example>
    <app-mat-table></app-mat-table>-->

     <!--<app-dialogs-activity></app-dialogs-activity>-->
    
     <!--<app-stepper></app-stepper>-->
     
 <!--</div>-->

 <!--<div class="flex" *ngIf="users">
    <mat-card class = "example-card mat-elevation-z10" *ngFor="let user of users">

        <div class="contact-card-header">
            <img class="image-circle" [src]="userImage(user.id)" alt="image" (click) = "sendInfo(user.username, user.email, user.phone, user.website)">
        </div>
        
        <div class="justify-content-center">
            <h2>{{user.name}}</h2>
        </div>

    </mat-card>
 </div>-->
 <app-drag-drop></app-drag-drop>


     