<app-side-nav></app-side-nav>
<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contact Manager</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>New Contact</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Toggle Theme</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Toggle DIR</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>-->

<!--START
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')">
    <mat-toolbar color="primary">
      Contacts
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-raised-button color="primary" (click)="sidenav.toggle()"><mat-icon>view_headline</mat-icon></button>
        <span>Contact Manager</span>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>add</mat-icon>
            <span>New Contact</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Toggle Theme</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Toggle DIR</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="wrapper">
     
    <app-button></app-button>
    <app-mat-card></app-mat-card>
    <app-tabs></app-tabs>
    <app-contact-card></app-contact-card>
    <app-form-control></app-form-control>
    
     <-<app-stepper></app-stepper>->
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
END-->

<!--<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-raised-button color="primary"><mat-icon>visibility</mat-icon> Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</div>-->


