
  .input-width{
    width: 90%;
  }
  .with-icon{
    display: flex;
    align-items: center;
    
  }
  .header{
      span{padding-left: 15px;}
  }
  .issue-icon{
      display: flex;
      justify-content: end;
  }
  .footer{
      align-items: flex-end ;
  }
