<!-- <app-mat-card></app-mat-card> -->
<!-- <app-models></app-models> -->
<!-- <app-mat-table></app-mat-table> -->
<!-- <app-mat-card></app-mat-card> -->
<!-- <div class="flex" *ngIf="users">
    <mat-card class="example-card mat-elevation-z10" *ngFor="let user of users">
        <div class="contact-card-header">
            <img class="image-circle" (click)="openDialog(user.id)" [src]="userImage(user.id)" width="100px" height="100px">
        </div>
        <div class="contact-card-content">
            <h2 style="font-weight: bold;">{{user.name}}</h2>
        </div>
    </mat-card>
</div> -->

<app-drag-drop></app-drag-drop>