mat-card{
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background-image: linear-gradient(black, darkslategrey);
    font-size: 14px;
}